*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

::selection{
    color: #fff;
    background-color: #ffb43a;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #fff ;
}

::-webkit-scrollbar-thumb{
    background-color: #ffb43a ;
    border-radius: 10px;
}

body{
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    height: 1000px;
    overflow-x:hidden;
    position: relative;
    /* background-color: #081b29; */
    background-color: #1e1e2a;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 10px 0 0;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}

.btn{
    background-color: #ffb43a;
    border: 2px solid #ffb43a;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    transition: .4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #ffb43a;
    color: #fff;
}

.btn i{
    font-size: 20px;
    margin-left: 10px;
}

.section_title{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: .8;
    color: #fff;
    position: relative;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

.section_title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #ffb43a;
}

.section_title::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffb43a;
}

.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2;
}

/* ===============================Header==================================== */
header{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
}

header.active{
    background-color: #081b29;
    box-shadow: 0 5px 10px #ffb43a;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo{
    width: 150px;
    height:auto;
    display: flex;
    align-items: center;
}

.logo i{
    color: gold;
    font-size: 24px;
    padding-left: 5px;
}

.header-linkedin .fa-brands{
    font-size: 26px;
    color: #fff
}
.header-linkedin .fa-brands:hover{
    color: #ffb43a;
    transition: .5s;
}
.menu{
    white-space: nowrap;
    transition: .5s;
    z-index: 999;
    position: relative;
}

.menu_item{
    display: inline-block;
}

.menu_link{
    padding: 5px 10px;
    position: relative;
    transition: .4s;
    color:#fff;
    font-weight: 500;
}

.menu_link::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffb43a;
    transform: scale(0);
    transition: .4s;
}

.menu_link:hover{
   color: #ffb43a;
}

.active-link{
    color: #ffb43a;
}

.menu_link.active-link::before,
.menu_link:hover::before{
    transform: scale(1);
}


.close_icon{
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: 250px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}

.toggle_icon{
    font-size: 32px;
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 30px;
    }
    .menu{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #081b29 ;
        height: 100vh;
        padding-top: 100px;
        width: 300px;
        text-align: center;
        transform: translateX(110%);
        box-shadow: 0 0 10px #ffb43a;
    }
    .menu.active{
        transform: translateX(0);
    }
    .menu_item{
        display: block;
        margin: 20px 0;
    }
    .menu_link{
        color: #fff;
    }
    .toggle_icon{
        display: block;
    }
    .close_icon{
        display: block;
    }  
}

/* ==============================Samuel Section============================ */

.samuel{
    padding-top: 114px;
    position: relative;
    display: block;

}

.samuel_container{
    align-items: center;
}

.samuel_container h4{
    font-size: 28px;
    font-weight: 600;
    color: #ffb43a;
    text-transform: uppercase;

}

.samuel_container h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    white-space: nowrap;
    margin-bottom: 40px;
    color: #fff;
}
#me{
    color: #ffb43a;
    box-shadow: 0 0 10px #ffb43a;
}
.samuel_container p{
    margin: 10px 0 40px;
    color: #fff;
    font-size: 18px;
}

.samuel_container .btn{
    margin-top: 30px;
    display: inline-block;
    align-items: center;
}
.samuel_container .btn:hover{
    box-shadow: 0 0 10px #ffb43a;
}
.samuel_container .btn:hover img{
    transform: translateX(5px);
    transition: .5s;
}
.samuel_social{
    display: flex;
    column-gap: 20px;
}

.samuel_social a{
    padding: 10px;
    font-weight: bold;
    position:relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffb43a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transition: .2s;
}

.samuel_social a:hover{
    color: white;
}
.samuel_social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #ffb43a;
    z-index: -1;
    transition: .5s;
}

.samuel_social a:hover::before{
    width: 100%
}

.samuel_social .fa-brands{
    font-size: 18px;
    color: #fff
}
.samuel_social .fa-brands:hover{
    color: #fff;
}
.samuel_img{
    text-align: right;
}
.samuel_img img{
    box-shadow: 0 0 20px #ffb43a;
}
.samuel_img img:hover{
    box-shadow: 0 0 30px #ffb43a;
}





@media screen and (max-width: 1036px){
    .samuel_content h1{
        font-size: 32px;
    }
    .samuel_content p{
        font-weight: 500;
    }

}
@media screen and (max-width: 920px){
    .samuel_content h1{
        font-size: 25px;
    }
    .samuel_content p{
        font-weight: 500;
    }
}
@media screen and (max-width: 768px){
    .samuel_content h4{
        font-size: 16px;
    }
    .samuel_content h1{
        font-size: 20px;
    }
    .samuel_content p{
        font-size: 15px;
    }
}   

@media screen and (max-width: 576px){
    .samuel_container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-content:  center;
    }
    .samuel_content{
        order: 2;
        text-align: center;
    }
    .samuel_content h4{
        font-size: 28px;
    }
    .samuel_content p{
        font-size: 22px;
        font-weight: 500;
    }
    .samuel_container h1{
        font-size: 24px;
    }
    .samuel_social{
        justify-content:center;
    }
    .samuel_img{
        text-align: center;
    }
}

@media screen and (max-width: 420px){
    .samuel_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

/* About Section */

.about_container{
    column-gap: 0;
    align-items: center;
}
.about_img{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px #ffb43a;
}
.about_img:hover{
    box-shadow: 0 0 30px #ffb43a;
}
.zoom {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.zoom-in {
    transform: scale(1);
}

.zoom-out {
    transform: scale(0.9);
}




.about_content h1{
    color: #ffb43a;
}
.about_content p{
    word-spacing: 5px;
    line-height: 20px;
    color: #fff;
    margin: 20px 0 15px;
}
.about_info{
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}
.about_info>div{
    text-align: center;
    background-color: #fff;
    border: 4px groove #ffb43a;
    border-radius: 10px;
    padding: 10px 15px;
    width: 40%;
}

.about_info>div .number{
    color: #ffb43a;
    font-size: 32px;
    font-weight: 700;
}

.about_info>div .text{
    font-size: 15px;
    font-weight: 600;
}
.about_content p{
    word-spacing: 3;
    line-height: 30px;
}
.about_content .about_info .completed-projects:hover{
    box-shadow: 0 0 30px #ffb43a;
}
.about_content .good-reviews:hover{
    box-shadow: 0 0 30px #ffb43a;
}
@media screen and (max-width: 992px){
    .about_container{
        grid-template-columns: 3fr 2fr;

    }
}

@media screen and (max-width: 768px){
    .about_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .about_container .about_img{
        margin-bottom: 20px;
    }
    .about_content p{
        word-spacing: 5;
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;

    }
 
    .about_info{
        justify-content:center;
    }
    .about_info>div .text{
        font-size: 14px;
    }
}
@media screen and (max-width: 576px){
    .about_img img{
       width: 100%;
    }
}
@media screen and (max-width: 430px){
    .about_content h1{
        padding-top: 10px;
        font-size: 20px;
    }
    .about_content p{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
}
    /* @media screen and (max-width: 415px){
        .about_content h1{
            padding-top: 10px;
            font-size: 16px;
        }
        .about_content p{
            font-size: 14px;
        }
} */

/* Resume section */

.resume_container{
    grid-template-columns: 1fr 5fr;
}
.resume_tabs ul {
  position: sticky;
  top: 150px;
  position: -webkit-sticky;
}

.resume_tabs ul li a {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  color: #fff;
  position: relative;
  transition: .3s;
}

.resume_tabs ul li a.current {
  color: #ffb43a;
  margin-left: 20px;
  position: relative;
}

.resume_tabs ul li a.current::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background-color: #ffb43a;
}

.resume_section {
  display: none;
}

.resume_section.active {
  display: block;
}

.page{
    margin-bottom: 70px;
}
.page_heading{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}
.resume_wrap {
    background-color: #faf9ff;
    margin-bottom: 15px;
    padding: 40px 30px;
    display: flex;
    position: relative;
    border-radius: 10px;
    transition: .3s;

     
}
.resume_wrap:hover{
    box-shadow: 0 0 30px #ffb43a;

}
.resume_wrap-icon{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume_wrap-icon .fa-solid{
   color: #ffb43a;
}




.resume_wrap-content{
    width: calc(100% - 100px);
    padding: 0 0 10px 10px;

}

.resume_wrap .date{
    font-size: 20px;
    font-weight: 600;
}
.resume_wrap-content h4{
    font-size: 20px;
    font-weight: 800;
    color: #ffb43a;

    margin-bottom: 5px;
    margin-top: 5px;
}

.resume_wrap-content p{
    color: var(--subtitle-color);
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.resume_wrap-content i{
    color: black;
    font-size: 30px;
    margin-right: 10px;
   
}

.resume_wrap:hover{
    background-color:rgb(187, 162, 22);
    color: #faf9ff;
}
.resume_wrap:hover .resume_wrap-icon{
    background-color: #fff;
}
.resume_wrap:hover .resume_wrap-icon img{
    color: var(--main-color);
}
.resume_wrap:hover h4,
.resume_wrap:hover span,
.resume_wrap:hover p{
    color: #fff;
}

.progressBox{
    gap: 3rem;
   
}

.progress_name{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
}
.progress_name i{
    font-size: 50px;
    color: #ffb43a;
}
.progress_bar .plus_sign{
    color: #ffb43a;
    font-weight: 700;
}
.progress{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-origin: var(--seconde-color);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.progress_bar{
    height: 100%;
    border-radius: 10px;
    background-color: #ffb43a;
    position: relative;
}
.progress_bar::after{
    content: '';
    position:absolute;
    top: 50%;
    left: calc(100% - 7px);
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #ffb43a;
    border-radius: 50%;
}

@media screen and (max-width: 992px){
    .resume_container{
        grid-template-columns: 1fr;
    }
    .resume_tabs{
        display: none;
    }
    .resume_wrap{
        padding: 20px 15px;
    }
}

@media screen and (max-width: 576px) {
    .resume_wrap{
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .resume_wrap .resume_wrap-icon{
        margin-bottom: 15px;
    }
    .resume_wrap-content{
        width: 100%;
    }
    .progressBox{
        grid-template-columns: 1fr;
        
    }   
}

/* projects Section */
.projects_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 70px;
}

.projects_filters li{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}
.projects_filters li:hover,
.filter-active{
    background: #ffb43a;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px #ffb43a;
    transition: .4s;
}

.projects_wrap-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
.projects_item{
    border-radius: 10px;
}
.projects_wrap{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.projects_wrap img{
    border-radius: 10px;
}
.projects_wrap::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-top: 3px solid rgba(0,0,0,.1);
    border-left: 3px solid rgba(0,0,0,.1);
    transition: .4s;
    transform: scale(0); 
}
.projects_wrap::after{
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-bottom: 3px solid rgba(0,0,0,.1);
    border-right: 3px solid rgba(0,0,0,.1);
    transition: .4s;
    transform: scale(0);

}
.projects_wrap:hover::before,
.projects_wrap:hover::after{
    transform: scale(1);
}

.projects_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgba(255,255,255,.5);
    transform: scale(0);
    transition: .4s;
    color: #333;
}

.projects_wrap:hover .projects_info{
    transform: scale(1);
    box-shadow: 0 0 100px #ffb43a;
    transition: 1s;
}
.projects_info h4{
    font-size: 24px;
    color: #ffb43a;
    font-weight: 700;
}
.projects_info p{
    color: #081b29;
    font-weight: 700;
    text-transform: uppercase;
}
.projects_links a{
    font-size: 28px;
    color: #333;
}
.projects_links .fa-solid .fa-share{
    color: #ffb43a;
}

.more-projects{
    position: relative;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.more-projects button i{
    color: #b18989;
    font-size: 18px;
}

@media screen and (max-width: 992px){
    .projects_wrap-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 576px){
    .projects_wrap-container{
        grid-template-columns: 1fr;
    }
    .projects_filters li{
        font-size: 16px;

    }
}


/* Services Section */
.services_container{
    grid-template-columns: repeat(3,230px);
    column-gap: 2rem;
    justify-content: center;
}
.services_item{
    position: relative;
    box-shadow: 5px 5px 10px #ffb43a;
    padding: 100px 40px 40px 40px;
}
.services_item:hover{
    box-shadow: 0 0 20px #ffb43a;
    transition: .5s;
}
.services_item img{
    display: block;
}
.services_item .services_title{
    font-size: 22px;
    font-weight: 500;
    color: #ffb43a;
    margin: 20px 0;
}
.services_item .service_button{
    display: flex;
    align-items: center;
    color: #ffb43a;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.service_button .fa-solid{
    font-size: 10px;
    margin-left: 5px;
    transition: .3s;
}
.service_button:hover .fa-solid{
    transform: translateX(10px); 
}
.services_modal{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    z-index: 1000;
    display: none;
    padding: 0 30px;
}
.services_modal.active-modal{
    display: flex;
}
.services_modal > div{
    position: relative;
    background-color: #555;
    box-shadow: 0 0 5px #ffb43a;
    max-width: 500px;
    max-height: 450px;
    padding: 50px;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
}
.services_modal .fa-solid{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    color: #ffb43a;
    font-size: 18px;
}

.services_modal-description,
.services_modal-title{
    text-align: center;
}
.services_modal-description{
    margin: 10px 0 30px;
}
.services_modal-title{
    font-size: 22px;
    color: #ffb43a;
    padding: 20px;
}
.services_modal ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.services_modal ul li img{
    margin-right: 10px;
}

@media screen and (max-width: 768px){
    .services_container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
    }
    .services_item{
        padding-top: 30px;
    }
    .services_item h3{
        font-size: 18px;
     }
}

@media screen and (max-width: 576px){
    .services_container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 396px){
    .services_modal > div{
        padding: 40px 20px;
    }
}



/* 
Contact */

.contact{
    padding-bottom: 60px;
}
.contact_container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.contact_content{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
input{
    margin-bottom: 30px;
    width: 100%;
    
}
input,
textarea{
    border-radius: 10px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #ffb43a;
    color:#081b29;
    font-size: 16px;
}
input:focus,
textarea:focus{
    box-shadow: 0 5px 20px #ffb43a;
    color:#081b29;
    font-weight: 600;
}
.contact_content .btn{
    width: 185px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.contact_content .btn:hover{
    box-shadow: 0 0 20px #ffb43a;
}
.contact_content .btn:hover img{
    transform: translateX(10px);
    transition: .5s;
}
@media screen and(max-width: 576px){
    .contact_content{
        padding: 0
    }
    .inputs{
        flex-direction: column;
    }

}

/* Footer */
.footer_bg{
    background-color: transparent;
    border-left: 2px solid #ffb43a;
    border-right: 2px solid #ffb43a;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb43a;
    padding: 30px;
    margin: 10px;
}
.footer_container{
    text-align: center;
}
.main_footer{
    padding-bottom: 50px;
    border-bottom: groove 3px #ffb43a;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: #fff;
}
.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.footer_social a{
    padding: 10px;
    font-weight: bold;
    position:relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffb43a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transition: .2s;
}

.footer_social a:hover{
    color: white;
}
.footer_social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #ffb43a;
    z-index: -1;
    transition: .5s;
}

.footer_social a:hover::before{
    width: 100%
}

.footer_social .fa-brands {
    font-size: 20px;
    color: #fff;
}

.footer_copy{
    padding: 20px 0;
    color: #ffb43a;
}


/* ------------------about me text----------------------- */
.about_me_text_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me_text_content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 5px solid #ffb43a;
    border-bottom: 5px solid #ffb43a;
}

.about_me_text_content h2{
    color: #ffb43a;
    font-size: 32px;
    font-weight: 700;
}

.about_me_text_content p{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    word-spacing: 6px;
}
.about_me_text_content a{
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .about_me_text_content h2{
        font-size: 26px;
        font-weight: 600;
    }

.about_me_text_content p{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    word-spacing: 5px;
}
}

@media screen and (max-width: 650px){
    .about_me_text_content h2{
        font-size: 24px;
    }

.about_me_text_content p{
    font-size: 18px;
    line-height: 26px;
}
}

@media screen and (max-width: 420px){
    .about_me_text_content h2{
        font-size: 22px;
    }

.about_me_text_content p{
    font-size: 16px;
    line-height: 24px;
}
}